<div id="<%= dom_id pet %>">
  <p>
    <strong>Name:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>Fecnac:</strong>
    <%= pet.fecnac %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= pet.tipo_id %>
  </p>

</div>
